@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* Shared-Css */
  .container{
    max-width: 1440px;
    margin: 0 auto;
  }
  .primary-bg{
    background-color: #FF900E1A;
  }
  .text-gray{
    color:#424242;
  }
  .text-gray-light{
    color:#727272;
  }
  .btn-primary{
    background-color: #FF900E;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
    border: 0;
  }
  .display-flex{
    display: flex;
  }
  .section-description{
    color:#727272;
    font-weight: 400;
    line-height: 26px;
  }
  main > section{
    margin-top: 130px;
  }
  /* img{
    max-width: 100%;
  } */
  /* header-section-style */
  .navbar{
    align-items: center;
    justify-content: space-between;
  }
  .nav-brand{
    font-size: 2.8rem;
    font-weight: 900;
  }
  .nav-menu{
    gap: 50px;
  }
  .nav-menu li{
    list-style: none;
  }
  .nav-menu li a{
    text-decoration: none;
    color: #424242;
    font-size:1.25rem;
    
  }
  /* banner-section-style */
  .banner{
    padding-bottom: 50px;
  }
  .banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
  }
  .banner-title{
    font-size: 4rem;
    line-height: 75px;
  }
  .banner-description{
    line-height: 26px;
    color:#424242;
  }
  .banner-btn{
    margin-top: 32px;
  }
  .banner-image{
    margin-top: 50px;
   
  }
  .banner-image img{
    width: 100%;
    
  }
  /* Team Section Style */
  .team-container{
    align-items: center;
    gap: 72px;
  }
  .team-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .team-images-container img{
    width: 100%;
  }
  .team-content{
    max-width: 537px;
  }
  .team-content .team-title{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
  }

#quick-list{
  font-weight: 500;
  color:#727272;
}
#feature-brand{
  color:#FF900E;
}
/* feature-section-style */
.feature-container{
  gap: 54px;
}
.feature-title{
  
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 53px;
  max-width: 468px;
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
.feature-card-container{
  margin-top: 30px;
}
.feature-card{
  padding: 30px;
  box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-top: 20px;
}
.feature-card h3{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.25rem;
  color: #131313;
}
.feature-card P{
  margin: 0;
}
.feature-image{
  padding-left: 92px;
}
.feature-btn{
  background: #FF900E;
  padding: 45px 42px;
  border: none;
  border-radius: 8px;
  color: #fff;
  margin-top: -100px;
  margin-left: -92px;
}
.feature-btn .years{
  font-size: 4rem;
  font-weight: 700;
  line-height: 70px;
}
.feature-btn .experiance{
  font-size: 1.8rem;
  margin-top: 10px;
  line-height: 40px;
}
/* Some-facts-section-style */

.some-facts-content{
  max-width: 542px;
}
.facts-title{
  font-size: 2.8rem;
}
.some-facts-container{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.facts-card{
  border: 1px solid #FF900E;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 240px;
  height: 240px;
  border-radius: 8px;
}
.card-item h4{
  color: #424242;
  margin: 10px;
}
.card-number{
  font-size: 2.8rem;
  margin: 10px;
  color: #424242;
}

/* Our-sponsor-style */
.our-sponsor{}
.our-sponsor-content{
  text-align: center;
  max-width: 547px;
  margin: 0 auto;
}
.our-sponsor-container{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.sponsor-card{
  width: 200px;
  text-align: center;
}
.our-sponsor-container .sponsor-card img{

  filter: grayscale(100%);
}
/* footer-section-style */
#footer{
  margin-top: 100px;
}
.footer-content{
  text-align: center;
  background: #FF900E1A;
  padding: 20px;  
}



  /* Responsive for Mobile Device */
  @media screen and (max-width:576px) {
    img{
      width: 100%;
    }
    main > section{
      margin-top:50px;
    }
    .navbar, .nav-menu, .team-container, .feature-container{
        flex-direction: column;
    }
    .nav-menu{
        gap: 20px;
    }
    .team-container{
      gap: 24px;
    }
    .team-images-container{

      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
    }
    .feature-image{
      padding-left: 0;
    }
    .feature-btn{
      background: #FF900E;
      padding: 30px 21px;
      border: none;
      border-radius: 8px;
      color: #fff;
      margin-top: -100px;
      margin-left: 0;
    }

    .some-facts-container{

      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      
    }
    .card-item img{
      width: 50%;
    }
    .our-sponsor-container{
      margin-top: 30px;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      justify-items: center;
    }
    .sponsor-card{
      width: 200px;
      text-align: center;
    }
    .sponsor-card img{
      width: 70%;
    }
    



  }